<div id="createnewTemplate"><hr>
<div style="float: right;"><a href="#" class="btn btn-primary loginBtn">Edit</a>
<a href="#" class="btn btn-primary loginBtn">Add Update</a>
<a href="#" class="btn btn-primary loginBtn">Issue</a></div>

<hr style="margin-top: 55px"><div><table style="margin-left: 23%"><tbody><tr><td>Issue Title</td><td><input type="text" nalme="Isse description" style="width: 400px;
height: 25px"></td></tr>
<tr><td>Description</td><td><textarea style="height: 80px;
width: 400px"></textarea></td></tr><tr><td>Issue Raised Date</td><td><input type="text" nalme="Isse description" id="raisedDate" style="height: 25px;" class="hasDatepicker"></td></tr><tr><td>Issue Resolved Date</td><td><input type="text" nalme="Isse description" id="resolvedDate" style="height: 25px;" class="hasDatepicker"></td></tr>
<tr><td>Resolved</td><td><input type="checkbox" nalme="resolved"></td></tr><tr><td></td><td><div style="margin-top: 10px;
float: right;"><a href="#" class="btn btn-primary resetBtn">Cancel</a> <a href="#" class="btn btn-primary loginBtn">Create</a></div></td></tr>
</tbody></table></div>
</div>