<div id="homeTemplate">
<div style="background: #CCC;margin-top: 30px;width: 120px;border-radius: 3px 3px 0px 0px;">Recently Created</div>
<div style="border: 1px solid #CCC;margin-bottom: 10px;"></div>
<table id="tableRecentlyCreated"></table>
<div style="background: #CCC;margin-top: 30px;width: 120px;border-radius: 3px 3px 0px 0px;">Recently Resolved</div>
<div style="border: 1px solid #CCC;margin-bottom: 10px;"></div>
<table id="tableRecentlyResolved"></table>
<div style="background: #CCC;margin-top: 30px;width: 120px;border-radius: 3px 3px 0px 0px;">Last Updated</div>
<div style="border: 1px solid #CCC;margin-bottom: 10px;"></div>
<table id="tableRecentlyUpdated"></table>
</div>


