<hr>
<h1>Tools Management</h1>
<hr><div id="login" style="background: #CCC;
height: 200px;
width: 400px;
border: 2px solid #DDD;
border-radius: 10px;
margin-left: 30%;
margin-top: 10%;
margin-bottom: 10%;"><div style="padding: 50px;">
<input type="text" placeholder="User Name" value="" id="userName" style="height: 40px;
width: 300px;
border-radius: 6px;"><input type="password" placeholder="Password" value="" id="passWord" style="height: 40px;
width: 300px;
border-radius: 6px;"><br><div style="margin-top: 10px;
float: right;"><a class="btn btn-primary resetBtn">Reset</a> <a class="btn btn-primary loginBtn">Login</a></div></div>
</div>