<div id="reportTemplate">
<hr>
<div>
<table style="margin-left: 23%">
<tbody>
<tr><td>Issue Ids</td><td><input type="text" nalme="Isse description" style="height: 25px"></td></tr>
<tr><td>Date Range</td><td><input type="text" nalme="Isse description" style="height: 25px;"></td><td>To&nbsp;<input type="text" nalme="Isse description" style="height: 25px;"></td></tr>
<tr><td>Resolved Issues&nbsp;</td><td><input type="checkbox" nalme="resolved"></td></tr><tr><td>Open Issues</td><td><input type="checkbox" nalme="resolved"></td></tr>
<tr><td></td><td><div style="margin-top: 10px;float: right;"> <a href="#" class="btn btn-primary loginBtn">Get Report</a></div></td></tr>
</tbody></table></div>
</div>