<div id="searchTemplate">
<hr><div><table style="margin-left: 30%"><tbody><tr><td>Issue Id</td><td><input type="text" nalme="Isse description"></td></tr>
<tr><td>Issue Created Date</td><td><input type="text" nalme="Isse description"></td></tr><tr><td>Issue Resolved Date</td><td><input type="text" nalme="Isse description"></td></tr>
<tr><td>Resolved</td><td><input type="checkbox" nalme="resolved"></td></tr><tr><td>Open Issue</td><td><input type="checkbox" nalme="open"></td></tr><tr><td></td><td><div style="margin-top: 10px;
float: right;"><a href="#" class="btn btn-primary resetBtn">Reset</a> <a href="#" class="btn btn-primary loginBtn">Search</a></div></td></tr>
</tbody></table></div><hr>
<table id="searchResultTable"></table>
</div>